<div class='team blue-bg p-2 shadow' id='about'>
    <div class="container">
        <div class='row p-3'>
            <h1 class='text-center mb-3'>About us</h1>
            <hr>
            <div class="w-75 mx-auto bg-white text-dark shadow rounded-lg p-3 my-3">
                We are a bunch of like minded people who share their love and energy for the noble field of law. We seek
                to utilise the black letters of law to render our help to those echelons of society that lack resources.
                We aim to provide a first of a kind platforms that strives to deliver application based solutions
                ranging from simple Legal advice to complex Legal Formats.
            </div>
            <!-- Card 1  -->
            <h3 class="mb-2 text-center my-4">This is our awesome team</h3>
            <div class='col-sm-8 col-lg-3 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text'>
                    <img src="assets/image/card-img01.jpg" class="card-img-top" alt="...">
                    <div class='p-35 my-4 position-absolute'>
                        <img class='img-size-text bg-white border-1 rounded-circle shadow'
                            src='https://www.w3schools.com/howto/img_avatar.png'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mr. Blue</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-bg rounded-pill px-3 border-0 shadow-custom my-3">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Card 2  -->
            <div class='col-sm-8 col-lg-3 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text position-relative mx-auto'>
                    <div class=''>
                        <img src="assets/image/card-img02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class='p-35 my-4 position-absolute'>
                        <img class='img-size-text bg-white border-1 rounded-circle shadow'
                            src='https://www.w3schools.com/w3images/avatar5.png'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mrs. Red</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-bg rounded-pill px-3 border-0 shadow-custom my-3">Go somewhere</a>
                    </div>
                </div>
            </div>
            <!-- Card 3  -->
            <div class='col-sm-8 col-lg-3 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text'>
                    <img src="assets/image/bg-clone2.jpg" class="card-img-top" alt="...">
                    <div class='p-35 my-4 position-absolute'>
                        <img class='img-size-text bg-white border-1 rounded-circle shadow'
                            src='https://www.w3schools.com/howto/img_avatar2.png'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mrs. Green</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="btn btn-bg rounded-pill px-3 border-0 shadow-custom my-3">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>