<ul class="navbar-nav bg-light m-auto">
    <li class="nav-item mx-3">
        <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item mx-3">
        <a class="nav-link" href="#">Pricing</a>
    </li>
</ul>