<nav class="w-100 navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">The Legal Notice</a>
        <button class="navbar-toggler border-0 focus-none" id="sidebar-btn" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <%-include("./navItem.ejs") %>
        </div>
    </div>
</nav>