<ul class="navbar-nav m-auto">
    <li class="nav-item bg-white my-2 mx-3 px-3 py-1">
        <a class="nav-link text-dark" href="/">Home</a>
    </li>
    <li class="nav-item bg-white my-2 mx-3 px-3 py-1">
        <a class="nav-link text-dark" href="/blogs">Blogs</a>
    </li>
    <li class="nav-item bg-white my-2 mx-3 px-3 py-1">
        <a class="nav-link text-dark" href="#">Pricing</a>
    </li>
</ul>