<div class="blue-bg">
    <div class="container p-4 my-4 m-auto">
        <div class='row p-3'>
            <h1 class='text-center mb-3'>SOME OF OUR WORK</h1>
            <hr>
            <!-- Card 1  -->
            <div class='col-sm-8 col-lg-4 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text'>
                    <img src="assets/image/card-img01.jpg" class="card-img-top" alt="...">
                    <div class='p-35 my-4 position-absolute'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mr. Blue</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- Card 2  -->
            <div class='col-sm-8 col-lg-4 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text position-relative mx-auto'>
                    <div class=''>
                        <img src="assets/image/card-img02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class='p-35 my-4 position-absolute'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mrs. Red</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- Card 3  -->
            <div class='col-sm-8 col-lg-4 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text'>
                    <img src="assets/image/bg-clone2.jpg" class="card-img-top" alt="...">
                    <div class='p-35 my-4 position-absolute'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mrs. Green</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- Card 1  -->
            <div class='col-sm-8 col-lg-4 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text'>
                    <img src="assets/image/card-img01.jpg" class="card-img-top" alt="...">
                    <div class='p-35 my-4 position-absolute'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mr. Blue</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- Card 2  -->
            <div class='col-sm-8 col-lg-4 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text position-relative mx-auto'>
                    <div class=''>
                        <img src="assets/image/card-img02.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class='p-35 my-4 position-absolute'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mrs. Red</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <!-- Card 3  -->
            <div class='col-sm-8 col-lg-4 my-3 mx-auto'>
                <div class='card border-0 p-0 shadow default-color-text'>
                    <img src="assets/image/bg-clone2.jpg" class="card-img-top" alt="...">
                    <div class='p-35 my-4 position-absolute'>
                    </div>
                    <div class="card-body text-center pt-5">
                        <div class=''>
                            <h5>Mrs. Green</h5>
                        </div>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>