.bg-login {
    background-image: url('../image/bg-clone-trans2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
.icon {
    width : 23px;
}
.btn-login {
    background-color: white;
    width : 100%;
}
.alink {
    text-decoration: none;
}
.white-bg {
    background-color: white;
}
.grey-bg {
    color: #6e7880
}