@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body,
html {
  width: 100%;
  overflow-x: hidden;
  color: #636363;
  scroll-behavior: smooth;
  font-family: "Ubuntu", sans-serif;
}
button:focus {
  outline: none;
}
.feature-text {
  font-size: 20px;
}
.feature-header {
  font-size: 40px;
}
.card-img-1 {
  background-image: url("../image/card-img01.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.vh {
  height: 100%;
}
.blockquote {
  font-size: 15px;
}
.link {
  color: #636363;
}
.link:hover {
  color: #636363;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-item:active {
  background-color: #f8f8f8;
  color: black;
}
.dropdown-item:hover {
  background-color: #f8f8f8;
  color: black;
}
.dropdown-extra {
  color: #636363;
  font-size: 15px;
}
.img-size {
  width: 100%;
}
.img-size-01 {
  width: 92%;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.bg-container {
  background-image: url("../image/bg-clone-trans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-transparent-grey {
  /* background-color: #272727a1; */
  color: white;
}
.bg-transparent {
  background-color: none;
  color: white;
}
.heading {
  font-size: 50px;
}
.para {
  font-size: 23px;
}
.logo-font {
  font-size: 35px;
}
.left-container {
  background-color: white;
}
.shadow-inset {
  -webkit-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
}
.mock-size {
  width: 60%;
  margin: auto;
}
.border-radius-custom {
  border-radius: 0% 100% 0% 100% / 100% 15% 85% 0%;
  border-color: white solid !important;
}
/* // Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {
  .mock-size {
    width: 90%;
    margin: auto;
  }
  .wd-45 {
    width : 45%;
  }
} */

@media (min-width: 576px) {
  .mock-size {
    width: 90%;
    margin: auto;
  }
  .wd-45 {
    width: 45%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .mock-size {
    width: 90%;
    margin: auto;
  }
  .wd-45 {
    width: 45%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mock-size {
    width: 37%;
    margin: auto;
  }
  .wd-45 {
    width: 35%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mock-size {
    width: 37%;
    margin: auto;
  }
  .wd-45 {
    width: 35%;
  }
}
.default-color-text {
  color: #636363;
}
.img-size-text {
  width: 100%;
}
.p-35 {
  padding: 35%;
}
.p-50 {
  padding-left: 40%;
  padding-right: 40%;
  margin-right: 30%;
  margin-left: 30%;
}
.width-100 {
  width: 100%;
}
.vh-100 {
  height: 100vh;
}
.list-group-item {
  font-size: 18px;
}
.a-link {
  text-decoration: none;
  color: #636363;
}
.a-link:active .a-link:focus .a-link:after {
  color: #636363;
}
.w-60 {
  width: 60%;
}
#account-btn:active #account-btn:after #account-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn-extra:active .btn-extra:focus .btn-extra:after {
  outline: none !important;
  box-shadow: none !important;
}
.btn-extra {
  background-color: white;
  color: #636363;
}
.transe {
  transition: opacity 1s ease-out;
  /* opacity: 0; */
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-15 22:22:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

