<div class="blue-bg p-5 mt-3 overflow-hidden">
    <form method="POST" action="/api/posts">
        <div class="col-lg-12 col-5 m-auto bg-white p-3 rounded shadow">
            <div class="form-group m-4">
                <input type="text" name="name" class="form-control bg-light border-0" id="exampleFormControlInput1"
                    placeholder="Name">
            </div>
            <div class="form-group m-4">
                <input type="text" name="title" class="form-control bg-light border-0" id="title" placeholder="Title">
            </div>
            <div class="form-group m-4">
                <select class="form-control bg-light border-0" name="category" id="exampleFormControlSelect1">
                  <option>Article</option>
                  <option>Case Brief</option>
                  <option>Case Comments</option>
                </select>
            </div>
            <div class="form-group m-4">
                <textarea class="form-control bg-light border-0" name="posts" id="exampleFormControlTextarea1" rows="5"
                    placeholder="Description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary m-3">Submit</button>
        </div>
    </form>
</div>