<div id='home' class="left-container">
    <div class='container'>
        <div class='row vh mx-auto'>
            <div class='order-lg-2 order-2 col-sm-8 col-lg-5' data-aos="fade-right" data-aos-duration="700">
                <img class='img-size' src='assets/image/3929495 (1).jpg'>
            </div>
            <div class='order-lg-1 order-1 col-sm-8 col-lg-6 text-center my-sm-2 my-lg-auto px-5' data-aos="fade-left"
                data-aos-duration="700">
                <h1 class="tm-color heading px-2">WELCOME TO<br><span class='tm-color-brand'>THE LEGAL NOTICE</span></h1>
                <p class='para px-4'>
                    EVERYTHING FROM A CONSTANT TO A VARIABLE.</p>
            </div>
        </div>
    </div>
</div>
<!-- Text label  -->
<%- include("./partials/works.ejs")%>
<!-- text end  -->
<%- include("./partials/panel.ejs")%>
<!-- Team content  -->
<%- include("./partials/about.ejs")%>
<!-- team end  -->